<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>May the Force BEE With YOU</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/Static/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/Static/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/Static/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/Static/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">BZZZZZZZ</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">Qui sommes nous?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services1">Prévention:présentation</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services2">Prévention:conseil</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Apiculteurs, aidez la recherche!</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Jeux</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Espace Enfants</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Bibliographie</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>May the Force BEE With YOU</h1>
                <hr>
                <p><b>Le site qui vous explique comment protéger les abeilles</b></p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Découvrez en plus</a>
            </div>
        </div>
    </header>

   

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 " align="justify">
                  
                    <p>Peut être que vous ne vous en êtes pas aperçu, peut être que cela vous passe au dessus de la tête, comme les papillons. Mais justement, les papillons, comme les abeilles, disparaissent. Les papillons, c'est joli, on aurait envie de les mettre dans des cadres, mais on ne le fera pas. Les abeilles, c'est essentiel à beaucoup de formes de vie sur terre. Dont la notre.</p>
                    <hr class="primary">
                    <h2>Disparition des abeilles : Mythe ou Réalité ?</h2>
                    <h3>Le . science</h3>
                    <p>
					Attention, ouvrez vos yeux et vos cerveaux, c'est l'heure du point science, et plus précisément un point physiologie. La physiologie des abeilles est un sujet  long et complexe. Nous allons donc tenter l'exploit de développer le cycle et le mode de vie de ces petites bêtes sans vous perdre.</br>
					Il existe plusieurs espèces d'abeilles, selon les régions du monde, et toutes n'ont pas les mêmes caractéristiques (certaines ne font pas de miel par exemple). Les abeilles en elles-mêmes habitent dans leur ruche, et ensemble forment une <strong>véritable société organisée</strong> (peut être plus organisée que la notre). Abeille, est le terme général pour trois sous-espèces : <strong>la reine</strong>, les <strong>faux bourdons</strong> et les <strong>ouvrières</strong>. La reine n'a qu'une seule fonction, mais pas des moindres : pondre pour la pérennité de l'espèce. Le faux bourdon est l'abeille mâle, et cette feignasse n'a que le rôle de reproducteur dans la ruche. Il est d'ailleurs pourvu que d'un système reproducteur, et meurt une fois son rôle accompli. Les abeilles se nourrissent de différents types de sécrétions, et également d'un peu de miel et de pollen.</p>
					<p align="center"><img src="/Static/img/abeilles.jpg" alt="photo de trois abeilles" title="photo d'abeilles" /></p>

					<h3>C'est risqué d'être une abeille !</h3>
					<p>Les abeilles passent par trois stades : œufs, larve, la pupe et l'imago. Peu importe les noms, retenez que quelque soit son stade, l'abeille est vulnérable à tout un tas de chose.</br>
					Dès le stade larvaire, du fait de la <strong>pollution atmosphérique</strong> et de la <strong>pollution ambiante</strong> du à l'environnement autour de la ruche (traitement du bois, des espaces alentours...), la larve est lentement intoxiquée dès sa naissance ou presque. Vient ensuite les différents stades, et ce sont les ouvrières qui sont les plus touchés : <strong>intoxication via les pesticides</strong> (neurotoxiques, paralisant, acétycholine dépendant…) et les <strong>insecticides</strong>. Cette intoxication peut être directe, directement vaporisée sur les insectes par certains agriculteurs, ou indirectement, lorsque l'abeille se nourrit. Elle ingères des doses infimes de produit, déposé sur les végétaux et les fleurs, se mélangeant au pollen, et ces doses sont suffisantes pour la mener droit dans la tombe.</br>
					L'abeille est aussi sensible à plusieurs <strong>parasites</strong>, tels que des champignons ou des bactéries, en majorité transmis par un acarien, le varroa. Du fait de l'environnement déjà pas particulièrement favorable aux abeilles, celles-ci seraient de plus en plus sensible à cet acarien.
					Nous ne nous étendrons pas ici sur le réchauffement climatique, qui perturbe tout les écosystèmes et ne laisse certainement pas des organismes aussi complexe que les abeilles indemnes.
					Au final, entre toutes les menaces dû à l'environnement et toutes celles liées aux pathologies des abeilles, la liste des dangers pour nos petites bêtes est bien longue.
					</p>
					<h3>Pourquoi c'est un danger pour nous ?</h3>
					<p>
					Après le point  physiologie, voici le point botanique. Désolée. Vous ne le savez peut être pas, mais les plantes ont aussi des sexes. Oui oui, il existe des plantes femelles et des plantes mâles. Je vous épargne la complexité du système sexuel des plantes. Des pissenlits fille et des pissenlits garçon. Des kiwis madame et des kiwis monsieur. Et donc logiquement, pour obtenir un nouveau kiwi, il faut une madame et un monsieur. Sauf que comme vous l'aurez sans doute remarqué, les plantes ne sont quand même pas très mobiles, donc pour mélanger les pollens c'est moyen. Bien sur, tous les allergiques vous le diront, le VENT fait un travail remarquable. Cependant, les plus efficace dans ce domaine, vous l'aurez devinez sont les abeilles.</br>
					Les ouvrières passent tout leur cycle de vie à polliniser <strong>TOUTES LES PLANTES</strong> qu'elles trouvent, et cela comprend également toutes les plantes produisant des légumes et des fruits. Sans abeille, pas de pommes, ni de poires, ni de fraises, encore moins de courgettes, de tomates, de cerises, etc, etc.</br>
					Les <strong>conséquences</strong> de la disparition des fruits et des légumes sont bien entendues <strong>dramatiques</strong>. D'abord pour l'écosystème qui nous porte, qui est voué à mourir à petit feu, dans une guerre de survie à la famine. Nous en seront les les principaux acteurs. Vous vous dites peut être « bon ok, plus de fruit et légumes, mais bon au pire il reste Mac Do ». De quoi est fait votre burger ? De steak haché peut être ? Et la vache, elle mange quoi ? Des <strong>parpaings</strong> ? Et votre pain il est fait avec quoi ? De la farine,  qui vient bien sur du blé, les grains de sésame sont aussi issus de végétaux. TOUS vient de la terre, du sol et des plantes. Nos vies dépendent des végétaux bien plus que l'on ne le pense. La disparition d'une partie des végétaux aurait des conséquences écologiques et humanitaires désastreuses.
					</p>
				
					<p>
					Évidemment la science, et la nature avant elle, tend à transformer tous les végétaux en <strong>hermaphrodites</strong>, de manière à pouvoir <strong>s'autopolliniser</strong>.</br>
					De manière naturelle, de nombreuses plantes sont hermaphrodites, ce qui laisse une porte de sortie pour se reproduire malgré tout si toutes les conditions sont mauvaises et produire une descendance coûte que coûte pour la <strong>pérennité</strong> de l'espèce. Les fruits issus de l'auto-fécondation des fleurs sont parfois faciles à repérer, notamment chez les framboises, vous savez, ce sont ces fruits tout petits, informes, moches comme tout, qu'on n'a surtout pas envie de manger. Cependant, l'hermaphrodicité pourrait être LA solution à tous nos problèmes et fuck les abeilles ; si seulement l'auto fécondation ne limitait pas la diversité génétique des organismes biologiques, et donc n'augmentait pas leur fragilité face à toutes leurs pathologies respectives. Ce n'est pas une solution à long terme.
					</p>
					<p>
					<h3>Qui sont les responsables ?</h3>
					Il est bien facile de crier haut et fort le nom des responsables qui ont provoqué et qui continue à fabriquer des environnements néfastes pour les abeilles, consciemment ou pas. Il est bien entendu que les conséquences économiques sont énormes, et que dans notre monde actuel, l'enrichissement à court terme est bien plus important que la survie à long terme.</br>
					Tous les industriels fabriquant et vendant des insecticides, herbicides, autres « cides » et produits chimiques sont coupables. Certains limitent leurs activités pour le bien être de la faune et de la flore, et d'autre s'en battent royalement les couilles. Certains vont jusqu'à contredire toutes les études scientifiques pour promouvoir leur produit néfastes autant pour la planète que cancérigène pour l'homme. Je ne citerai personne. Mais les industriels ne sont pas les seuls coupables. Votre pelouse bien net et vos jardinières resplendissantes respirant l'engrais et le désherbant sont aussi coupables que Monsanto et le RandUp. Les industriels vivent des gens qui achètent leur produits.</br>
					Mais ne vous inquiétez pas, vous allez pouvoir soulager votre <strong>conscience</strong> et sauver les abeilles à votre échelle en suivant les conseils dans l'onglet adéquat.
					</p>		
                </div>
                
            </div>
        </div>
    </section>


    <!-- jQuery -->
    <script src="/Static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/Static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/Static/js/jquery.easing.min.js"></script>
    <script src="/Static/js/jquery.fittext.js"></script>
    <script src="/Static/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/Static/js/creative.js"></script>
</body>

</html>
